.ais-Hits-list {
    list-style-type: none;
    margin-left: 0;
    display: flex;
    justify-content: center;
    flex-direction: column wrap;
    flex-wrap: wrap;
    width: 100%;
}

.ais-Hits-item {

}
