@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC|Fjalla+One|Indie+Flower|Liu+Jian+Mao+Cao|Open+Sans|Questrial|Quicksand|Roboto&display=swap');

.posts {
    list-style-type: none;
    margin: 0;
}

.post {
    margin: 1rem 0;

    a:hover {
        background: #e4e4e4;
    }

    h2 {
        margin-bottom: 0;
        font-family: "Questrial", sans-serif;
        font-weight: lighter;
        font-size: 2.5rem;
    }

    p {
        padding-top: 0.5rem;
        color: #777777;
        font-size: .8rem;
        font-weight: bolder;
        font-family: 'Questrial', sans-serif;
        margin-bottom: 0;
    }
}

.search {
    z-index: -1;
}

.blog-header {
    display: flex;
    flex-direction: row;
}

  .Hits {
      display: flex;
      justify-content: center;
  }

  .Header {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      margin-left: 10px;
      margin-right: 10px;

      h1{ 
          font-family: "Questrial", sans-serif;
          font-size: 3rem;
      }
  }