.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
  }

  .imageContainer:hover .overlay {
    opacity: 0.3;
  }

.imageContainer {
    position: relative;
    max-width: 33%;
    img {
        display: block;
        width: 100%;
        height: auto;
        
    }
 }

 .EventContainer {
    display: block;
    width: 350px;
    margin-bottom: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;

    a {
        text-decoration: none;
    }
    
}


.First {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}



.PImageContainer {
    max-height: 380px;
    overflow: hidden;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    img {
        object-fit: cover;
    }
    z-index: -1;
}

.TextContainer {
    padding-top: 30px;
    padding-left: 28px;
    padding-right: 28px;
    padding-bottom: 36px;
    background-color: #f2f2f2;
    
}

.EntryDate {
    color: #858585;
    font-size: 1rem;
    line-height: 1.714;
    margin-bottom: 0.6rem;
    font-family: 'Questrial', sans-serif;
    font-weight: bolder;
}

.EntryTitle {
    font-size: 2.0rem;
    line-height: 1.375;
    margin-bottom: 1.1rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    a {
        text-decoration: none;
        line-height: inherit;
        color: #4d3ac9; 
    }
}

.EntryExcerpt {
    display: block;
    p {
        font-family: 'Questrial', sans-serif;
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-size: 1rem;
        line-height: 1.8rem;
        margin-bottom: 1.5rem;
        color: black;
    }
}

.EntryTag {
    a {
        font-family: 'Questrial', sans-serif;
        font-size: 0.9rem;
        color: #4030a7;  
    }

    span {
        font-weight: bolder;
    }
    display: flex;
    flex-direction: column;
    
}