#header-wrapper {
    width: 100vw;
    height: 80px;
    background-color: navy;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

#toggle {
    cursor: pointer;
    color: black;
    font-size: 0px;
    margin-left: 0px;
    background: transparent;
    border: none;
    padding: 0px;
    padding-bottom: 5px;
    padding-left: 3px;
    outline: none;
}

#toggle h1{
    font-size: 20px;
    color: #E5324A;
    border-radius: 10px;
    padding: 7px;
    border: 2px solid #E5324A;
    margin-bottom: 20px;

}

.sidebar {
    margin-top: 73.69px;
    height: 100vh;
    padding-left: 20px;
    background-color: #E5324A;
    opacity: 0.8;
    color: white;
    width: 300px;
    position: fixed;
    z-index: 200;
    left: -100%;
    animation: slide-open 0.5s forwards;
    padding-left: 10px;
}

.sidebar h2{
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    text-align: center;
    padding: 5px;
    padding-top: 15px;
    color: white;
}

.btnwrap{
    display: flex;
    justify-content: center;
}

.sidebar button{
    margin-top: 20px;
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    background: transparent;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
    color: white;
    width: 100px;
}

.sidebar button:hover{
    cursor: pointer;
}

.sidebar.close {
    left: 0;
    animation: slide-close 1.0s forwards;
}

@keyframes slide-open {
    100%{
        left: 0;
    }
}

@keyframes slide-close {
    100%{
        left: -100%;
    }
}

@media screen and (max-width: 800px) {
    .sidebar{
        margin-top: 53.69px;
    }
}