@import url('https://fonts.googleapis.com/css?family=Comfortaa|Montserrat|Questrial|Quicksand&display=swap');

.footer {
    padding-top: 25px;
    margin-top: 3rem;
    background: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.title {
    
    padding-left: 15px;
}

.pages {
    width: 300px;
    ul {
        list-style-type: none;
        margin: 0;
    }
}

.icons {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    li {
        float: left;
        border: 2px solid white;
        border-radius: 50%;
        margin: 5px;
    }
    
}