@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Questrial|Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
.header {
    padding: 0.2rem 0 0rem;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    z-index: 3;
    max-width: 1200px;
    width: 100%;
    background-color: #F7F7F7;
}

.outer{
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: #F7F7F7;
    z-index: 3;
}

.name {
    text-align: left;
}

.title {
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 1.3rem;
    font-family: "Montserrat", sans-serif;
}

.nav-list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
}



.active-nav-item {
    color: black;
    font-weight: bolder;
    

}

.nav {
    position: sticky;
    top: 0px;
    ul {
        margin: 0;
        text-align: center;
        
        a {
            text-align: center;
            margin: 0;
            margin: 0 15px;
        }
        li {
            text-align: center;
        }
    }
}

.hvr-overline-from-center {

    color: black;
    font-size: 1.1rem;
    font-family: "Montserrat", sans-serif;
    margin-right: 1.8rem;
    text-decoration: none;
    padding-top: 0.5rem;
    padding-bottom: 0.3rem;

    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;

  }
  .hvr-overline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    top: 0;
    background: black;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }

  .hvr-overline-from-center:hover:before, .hvr-overline-from-center:focus:before, .hvr-overline-from-center:active:before {
    left: 0;
    right: 0;
  }

  .small-menu-classname{
    background-color: #F7F7F7;
    padding: 5px;
    height: 55px;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 5;
  }

  .close{
      margin-bottom: 0;
  }

  .large-menu-classname{
    position: fixed;
    width: 100vw;
    top: 0px;
    z-index: 5;
    display: flex;
    justify-content: center;
    padding: 0.2rem 0 0rem;
    background-color: #F7F7F7;
  }

  .menu-wrap{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: center;
      h1{
        font-size: 1.3rem;
        font-family: "Montserrat", sans-serif;
        padding-top: 6px;
        padding-left: 5px;
      }
  }

  .hamburger{
      height: 35px;
      width: 35px;
      color: white;
  }

  .close{
      height: 25px;
      width: 25px;
  }

  @media only screen and (max-width: 800px) {
      .nav-list {
          flex-direction: column;
          justify-content: center;
      }

      .header{
          justify-content: center;
      }

      .name{
          display: none;
      }

      .large-menu-classname{
          display: none;
      }

  }

  @media only screen and (max-width: 1200px) {
      .title{
          padding-left: 25px;
      }
  }