@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Permanent+Marker|Questrial|Quicksand&display=swap');

.EventContainer {
    display: block;
    max-width: 250px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    flex-grow: 1;
    a {
        text-decoration: none;
    }
}

.EventContainer:hover{
    box-shadow: 10px 10px 5px #aaaaaa;
    transition: ease-in-out 0.1s;
}

.ImageContainerParent {
    height: 250px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    z-index: -1;
}

.StoryImageContainer {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 350px;
    object-fit: cover;
    margin-bottom: 0;
}

.FlagImageContainer {
    height: 28.125px;
    width: 37.5px;
}

.TextContainer {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    background-color: #FCFCFC;
    
}

.EntryDate {
    color: black;
    font-size: 15px;
    line-height: 1.714;
    padding-bottom: 10px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.EntryTitle {
    
    a {
        font-size: 18px;
        line-height: 1.375;
        margin-bottom: 1.1rem;
        font-family: 'Questrial', sans-serif;
        font-weight: bolder;
        text-decoration: none;
        line-height: inherit;
        color: #E5324A; 
    }

    p {
        font-size: 15px;
        color: black;
        padding-top: 5px;
        font-family: "Questrial", sans-serif;
        font-weight: bold;
    }
}

.EntryExcerpt {
    display: block;
    p {
        font-family: 'Questrial', sans-serif;
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-size: 20px;
        line-height: 1.8rem;
        margin-bottom: 1.5rem;
        color: black;
    }
}

.EntryTag {
    a {
        font-family: 'Questrial', sans-serif;
        font-size: 18px;
        color:white;  
        padding: 5px;
        margin: 3px 5px 3px 0px;
        border-radius: 7px;
        display: inline-block;
        background: #E5324A;
    }
    width: inherit;

    a:hover {
        background: white;
        color: #E5324A;
        transition: ease-in 0.1s;
    }
}

.Hits {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

@media only screen and (max-width: 600px) {
    .EntryDate{
        font-size: 15px;
    }
    .EntryTitle{
        p{
            font-size: 15px;
        }
        a{
            font-size: 25px;
        }
    }
    .EntryExcerpt{
        p{
            font-size: 15px;
            line-height: 20px;
        }
    }
    .EntryTag{
        a{
            font-size: 12px;
        }
    }
  }