@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC|Fjalla+One|Indie+Flower|Liu+Jian+Mao+Cao|Open+Sans|Questrial|Quicksand|Roboto&display=swap');


.blog-header {
    display: flex;
    flex-direction: row;
}

  .Hits {
      display: flex;
      justify-content: center;
  }

  .Header {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      margin-left: 10px;
      margin-right: 10px;

      h1{ 
          font-family: "Questrial", sans-serif;
          font-size: 2rem;
          margin: 0;
          text-align: center;
      }
    margin-top: 100px;
  }

.search-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}