

.homepage{
    width: 100%;
}

.home-picture{
    img{
        //max-width: 60%;
        //min-width: 30%;
        max-height: 500px;
        min-height: 100px;
        max-width: 100%;
        min-width: 50%;
    }
    display: flex;
    justify-content: center;
    width: 100%;
}

.imagetext{
    margin-top: 100px;
    padding: 20px;
    h1{
        font-family: 'Questrial', sans-serif;
        text-align: center;
        font-size: 30px;
    }
    p{
        font-family: 'Questrial', sans-serif;
        text-align: center;
    }
}

 .EventContainer {
    display: block;
    width: 250px;
    margin-bottom: 3rem;
    //margin-left: 1rem;
    //margin-right: 1rem;

    a {
        text-decoration: none;
    }
}



.ImageContainerParent {
    height: 250px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    z-index: -1;
}

.StoryImageContainer {
    position: relative;
    top: 0;
    left: 0;
    height: 250px;
    width: 250px;
    object-fit: cover;
    object-fit: cover;
    margin-bottom: 0;
}

.FlagImageContainer {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 18.75%;
    width: 25%;
    border-radius: 8px;
}


.TextContainer {
    padding-top: 30px;
    padding-left: 28px;
    padding-right: 28px;
    padding-bottom: 36px;
    background-color: #FCFCFC;
    
}

.EntryDate {
    color: black;
    font-size: 1rem;
    line-height: 1.714;
    margin-bottom: 0.6rem;
    font-family: 'Questrial', sans-serif;
    font-weight: bolder;
}

.EntryTitle {
    a {
        font-size: 2.0rem;
        line-height: 1.375;
        margin-bottom: 1.1rem;
        font-family: 'Quicksand', sans-serif;
        font-weight: bolder;
        text-decoration: none;
        line-height: inherit;
        color: #4d3ac9; 
    }

    p {
        font-size: 20px;
        color: black;
        padding-top: 5px;
    }
}

.EntryExcerpt {
    display: block;
    p {
        font-family: 'Questrial', sans-serif;
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-size: 1rem;
        line-height: 1.8rem;
        margin-bottom: 1.5rem;
        color: black;
    }
}

.EntryTag {
    a {
        font-family: 'Questrial', sans-serif;
        font-size: 0.9rem;
        color:white;  
        border: 1px solid blue;
        padding: 5px;
        margin: 3px 5px;
        border-radius: 7px;
        display: inline-block;
        background: #4030a7;
    }
    width: inherit;
    
}

.AzharContent {
    max-width: 800px;
    padding: 0 40px;
    p {
        font-family: "Montserrat", sans-serif;
    }

    h1{
        font-family: "Montserrat", sans-serif;
        text-align: center;
    }

    h2 {
        font-family: "Montserrat", sans-serif;
        text-align: center;
        font-size: 25px;
        font-weight: lighter;
    }
}

.posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.postTitle {
    h1 {
        font-family: "Montserrat", sans-serif;
        font-size: 30px;
        color: grey;
        margin: 0;
        text-align: center;
    }
    padding: 20px 10px;
    margin-bottom: 10px;
}

.EventContainer:hover{
    box-shadow: 10px 10px 5px #aaaaaa;
    transition: ease-in-out 0.1s;
}

.map-picture{
    display: flex;
    justify-content: center;
    img{
        width: 80%;
    }
    display: none;
    
}

_::-webkit-full-page-media, _:future, :root .safari_only {
    .map-picture{
        display: block;
    }
}

  @media only screen and (max-width: 1200px) {
    .posts {
        justify-content: center;
    }

    .EventContainer {
        margin: 1rem;
    }
  }

  @media only screen and (max-width: 600px) {
      .AzharContent{
          p{
              font-size: 12px;
          }
          h1{
              font-size: 30px;
          }
          h2 {
            font-size: 20px;
        }
      }

      .postTitle{
          h1{
            font-size: 25px;
          }
      }
  }

  @media only screen and (max-width: 1200px) {
      .First{
          justify-content: space-around;
      }
  }